<a href="https://colab.research.google.com/github/nournaimi2003/workshop-3/blob/master/Tp3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd
import matplotlib.pyplot as plt
data ={
    'nom':['alice' ,'bob', 'asma', 'nour'],
     'age':['15' ,'20', '28', '30'],
     'salaire':['6000' ,'8000', '10000', '2500'],
     'departement':['PH' ,'ventes', 'finance', 'rh'],
}
df = pd.DataFrame(data)
df
# Q1
nb_lignes , nb_colonnes = df.shape
print(f"le DataFrame a {nb_lignes} lignes et {nb_colonnes}")

le DataFrame a 4 lignes et 4